.header-container{
  display: flex;
height: 50px;
padding: var(--spacing-small);
background-color: var(--color-medium);
margin-top: 70px;

}
.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}
#pp{
  padding-left: 15px;
  padding-top: 15px;
}
