/*Слайдер*/
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 400px;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}
/*Кнопки назад і вперед*/
.slider .previous, .slider .next {
    /*Добавляємо курсорну іконку*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    /*Плавне появлення фона при наведенні курсора*/
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*Анімація слайдів*/
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    /*Прозорість*/
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
.sl .btn {
  position: absolute;
  top: 70%;
  color: white;
  font-size: 20px;
  padding: 22px 45px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}
#slide1 .btn{
  background-color: #473366;
  left: 12%;
}
#slide2 .btn{
  background-color: #58575A;
  left: 14%;
}
#slide3 .btn{
  background-color: #58575A;
  left: 14%;
}
.cntnr{
  margin-bottom: 250px;
  margin-left: 80px;
  margin-top: 90px;
  margin-right: 80px;
}
#img2{
  padding-top: 90px;
}
#text1{
  padding-left: 350px;
  font-size: 35px;
  font-family: Roboto;
  font-weight: medium;
  padding-top: 90px;
  line-height: 1.5;
}
#text2{
  font-size: 35px;
  font-family: Roboto;
  font-weight: medium;
  padding-top: 260px;
  line-height: 1.5;
}
