.repl{
  background: #DEDDEF;
  padding-top: 20px;
  padding-bottom: 90px;
  margin-bottom: -60px;
}
p{
  text-align: justify;
  padding-top: 10px;
}
.imgp{
  text-align: center;
}
.mainp1{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.mainp2{
  font-size: 20px;
  font-weight: bold;
}

.border1{
  background: #DEDDEF;
  border: 1px solid #473366;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-top: 20px;
  padding-right: 40px;
}
.main0{
  text-align: center;
  font-weight: medium;
  color: #473366;
  padding-top: 40px;
  padding-bottom: 10px;
}
#main{
    color: #473366;
}
#main:hover{
    color: white;
}
